In [4]:
import pandas as pd

df = pd.read_csv('../data/vendas.csv')
df.head()

,data_venda,produto,categoria,quantidade,preco_unitario,regiao,vendedor
0,2024-01-05,Notebook,Eletrônicos,2,3500,Sudeste,Ana
1,2024-01-10,Mouse,Eletrônicos,5,80,Sudeste,Carlos
2,2024-02-02,Teclado,Eletrônicos,3,150,Sul,Marcos
3,2024-02-15,Monitor,Eletrônicos,1,1200,Sudeste,Ana
4,2024-03-01,Cadeira,Escritório,2,900,Nordeste,Paula